.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--black);
  background-color: var(--color-action-background);
  cursor: pointer;
}

.button-icon:hover {
  background-color: var(--color-action-background-hover);
}

.button-icon:active {
  background-color: var(--color-action-background-active);
}

.button-icon--danger {
  --color-action-background: var(--orange-red);
  --color-action-background-hover: color-mix(
    in srgb,
    var(--color-action-background),
    var(--black) 7%
  );
  --color-action-background-active: color-mix(
    in srgb,
    var(--color-action-background),
    var(--black) 9%
  );

  color: var(--white);
}

.button-icon--success {
  --color-action-background: var(--spanish-green);
  --color-action-background-hover: color-mix(
    in srgb,
    var(--color-action-background),
    var(--black) 7%
  );
  --color-action-background-active: color-mix(
    in srgb,
    var(--color-action-background),
    var(--black) 9%
  );

  color: var(--white);
}
