.welcome-layout {
  position: relative;
  background-color: var(--silver-tree);
  background-image: url('/public/images/bg__auth.svg');
  background-repeat: no-repeat;
  background-position: center top;
}

@media (prefers-color-scheme: dark) {
  .welcome-layout {
    background-color: var(--nile-blue);
  }
}

.welcome-layout__background-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.welcome-layout__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: '. . . content content content content content content  . . .';
  justify-items: center;
}

.welcome-layout__content {
  grid-area: content;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

/* TODO: Refactor structure */
.welcome-layout__title {
  color: var(--white);
  font-weight: 400;
  font-family: 'Bebas Neue';
  font-size: 78px;
  line-height: 1.2;
}

.welcome-layout__title--decorative {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.welcome-layout__title--decorative::before,
.welcome-layout__title--decorative::after {
  width: 74px;
  height: 6px;
  background-color: currentColor;
  content: '';
}

/* TODO: Refactor structure */
.welcome-layout__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
