@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap');

:root {
  --black: #000000;
  --fire-engine-red: #c52425;
  --orange-red: #fd4802;
  --supernova: #fac900;
  --spanish-green: #008a52;
  --vista-blue: #94d1b4;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

:focus-visible {
  outline: 2px solid var(--spanish-green);
}
