.link {
  display: inline-block;
  color: var(--black);
  font-weight: 500;
  font-size: 22px;
  line-height: 54px;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: var(--white);
  }
}

.link:hover {
  text-decoration: none;
}
